        <script>
            $(document).ready(function() {
              createStoryJS({
                    type:       'timeline',
                    width:      '600',
                    height:     '700',
                    source:     '<%= @orbituarysite.id %>',
                    embed_id:   'my-timeline'
                });
            });
        </script>
      
         <div id="my-timeline"></div>
